body{
	background-color: #477087;
}
.table-container {
  width: 45%;
  margin: auto;
}
table {
  table-layout: fixed;
}

td {
  text-align: center;
  font-size: 2em;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  height: 3em;
  max-height: 3em;
  min-height: 3em;

  position: relative;
  overflow:hidden;
}

.inactive {
	background-color: #90BF60;
}

.filled {
	background-color: #D4846A;
}