<!doctype html>
<html lang="en" ng-app="threesApp">
<head>
	<meta charset="utf-8">
	<title>177147!</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/app.css"/>
</head>
<body game-controls ng-cloak>
	<h2>177147!</h2>
	<div class="table-container" ng-controller="BoardController">
		<button ng-click="startGame()" class="btn">Start Game</button>
		<table class="table table-bordered">
			<tr>
				<td ng-repeat="cellValue in board.values[0] track by $index" class="inactive">{{cellValue}}</td>
			</tr>
			<tr>
				<td ng-repeat="cellValue in board.values[1] track by $index" class="inactive">{{cellValue}}</td>
			</tr>
			<tr>
				<td ng-repeat="cellValue in board.values[2] track by $index" class="inactive">{{cellValue}}</td>
			</tr>
			<tr>
				<td ng-repeat="cellValue in board.values[3] track by $index" class="inactive">{{cellValue}}</td>
			</tr>
		</table>
	</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/BoardController.js"></script>
<script src="/js/services/BoardEvents.js"></script>
<script src="/js/services/BoardMethods.js"></script>
</body>
</html>